<%= stylesheet_link_tag "users" %>
<% @users.each do |user| %>
  <div class="user-row">
    <div class="profile-photo">
      <div class="placeholder-photo"></div>
    </div>
    <div class="user">
      <h2><%= link_to user.name, user_path(user), class: 'username' %></h2>
      <p>Number of posts: <%= user.posts_counter || 0 %></p>
    </div>
  </div>
<% end %>